@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Varela+Round&display=swap');
:root
.content{
    max-width: 1600px;
    margin: 0 auto;
}

main section{
    text-align: center;
    font-family: 'Valera Round';
    color: #01200F;
}

.logo {
    border-radius: 75%;
    width: 25%;
    border: 7px;
    border-style: solid;
    border-color: #2F3734;
}

nav a {
    text-align: center;
    color: #8B5B55;
    text-decoration: none;
    padding: 35px;
}

#background {
    height: 725px;
    background-color: #01200F;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: white;
    font-family: 'Valera Round';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #01200F;
    font-family: 'Rubik Bubbles';
}

nav a:hover {
    background-color: #2F3734;
    color: #8B5B55;
}
nav {
    display: flex;
    justify-content: space-around;
}
.potting {
    display: grid;
    max-width: 230px; 
    float: left;
    margin-left: 200px;
}
.rows {
    display: grid;
    max-width: 205px;
    float: right;
    margin-right: 200px;
}
.middle {
    background-color: #2F3734;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    background-color: #01200F;
    color: white;
    font-family: 'Rubik Bubbles';
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
    font-family: 'Varela Round'
}

.home-title {
    font-family: 'Skranji';
    font-size: 2em;
    margin-top: 10px;
}

.logo {
    width: 80px
}
.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    margin:0
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}