* {
    box-sizing: border-box;
}
img {
    max-width: 100%
}

.post > img {
    width: 100%;
}

body {
    margin: 0;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.post_heading {
    text-align: center;
}

.post_heading > p {
    color: #37778c;
    margin-bottom: .1em;
    font-size: .8em;
}

.post_heading >h2 {
    margin-top: 0;
}

.post_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #124f63;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.post_footer > p {
    border-right: 1px solid white;
    margin: 0;
    padding: 0.5em;
}

.post_footer

p {
    text-align: center;
}